body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    background: #1e293b;
    border-radius: 12px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
}

button {
    background: #f97316;
    color: white;
    cursor: pointer;
}